html {
  scroll-behavior: smooth;
  cursor: none;
}
section {
  height: 34rem;
}

.cursor-dot {
  /* background-color:red; */
  width: 20px;
  height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 50;
  pointer-events: none;
}
