html {
  scroll-behavior: smooth;
  cursor: none;
}
section {
  height: 30rem;
}

.sexy-text {
  animation: background-pan 2s linear infinite;
  background: linear-gradient(to right, #d44975, #e9b737, #e9b737, #d44975);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.cursor-dot {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 50;
  pointer-events: none;
}
